// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banner {
    margin-top: -30px;
    margin-bottom: -10px;
    height: 500px;
    align: center;
    background-image: url('http://i.imgur.com/PL1neEj.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner h1 {
    font-family: "Lobster", serif;
    text-align: center;
    padding-top: 30px;
    font-size: 5em;
}

.banner h2 {
    text-align: center;
}
