// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    text-align: center;
    font-family: "Pacifico", sans-serif;
}

h2 {
    font-size: 2em;
    font-family: "Roboto Condensed", serif;
}

h3 {
    font-size: 1.5em;
}

body {
    margin-bottom: 15%;
}

.list-list {
    height: 200px;
}

.library {
    height: 300px;
    margin-bottom: 20px;
}
