<nav>
    <div class="nav-wrapper">
      <a href="<%= root_path %>" class="brand-logo center">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="<%= lists_path %>">Lists</a></li>
        <li><a href="badges.html">Profile</a></li>
      </ul>
    </div>
  </nav>
